# Virtual environment
venv/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Test reports
*.html
reports/
report.html
assets/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Secrets
.env
